* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Century Gothic', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.664);
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  color: white;
  border-radius: 15px;
}

.box-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.box h1 {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 100;
  margin-bottom: 10px;
}

.box h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-bottom: 20px;
}

.box p {
  text-align: center;
  margin-bottom: 20px;
}

.box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.box ul li {
  margin-right: 20px;
}

.box ul li a {
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 11px;
  transition: all .5s ease-in-out;
}

.h2li {
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 10px;
}

.afiliate-btn {
  width: 100%;
  height: 40px;
  background-color: rgba(194, 17, 141, 0.4);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}

.afiliate-btn:hover {
  background-color: rgba(139, 13, 102, 0.4);
  transform: scale(1.1);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  animation: carga 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  animation: aparece 2s forwards;
}

@keyframes carga {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}